/* *{
    color: blueviolet;
}
h1{
    color: red;
}
p{
    color: darkgreen;
}
button{
    color: grey;
    background-color:whitesmoke;
}

/* COLOR SYSTEM -- RGB [re,green,blue]
                   HEX(HEXADECIMAL) #ff0000  */

 /* #Headingone{ */
    /* color: violet;
}
#Headingtwo{
    color: grey;
}         
.myclass{
    color: red;
}  */

/* 
p{
   text-align:center;
   text-decoration:none ;  
} */
/* h1{
    text-align:left;
    
    text-decoration:red underline;
    text-decoration:red dotted underline;
    text-decoration:red wavy underline;
    text-decoration:red dashed underline;  
    
} */
/* a{
    text-decoration: none;
}
#h1{
     font-weight:normal;
}
#h2{
    font-weight: bold;
}
#h3{
    font-weight: bolder;
}
#h4{
    font-weight:900;
} */


/* #one{
    font-family:arial;
}
#two{
    font-family:times new roman;
 } */


/* #one{
    font-size: 25px;
}
#two{
    font-size: 10px;
} */
#para{
    font-size: 25px;
    line-height: 30px;
    text-transform:uppercase;
    text-transform:lowercase;
    text-transform:capitalize;

}