body{
    text-align: center;
}
div{
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    /* flex-wrap: wrap; */
    align-items:flex-start;
    /* align-content:flex-start; */
}
#box1 {
    background-color: cyan;
}
#box2{
    background-color: cornflowerblue;
    height: 200px; 
    flex-shrink: 1;
    
}
#box3{
    background-color:cadetblue;
    height: 75px;
}
#box4{
    background-color: darkkhaki;
}
#box5{
    background-color:greenyellow;
    align-self: flex-start;
}